.yourcart {
    display: flex;
    padding: 3px;
    justify-content: center;
    background-color: rgb(73, 14, 14);
    border-radius: 10px;
    padding: 0.6em 1em;
    input{
        display: inline;
        width: 10px;
    }
}